## **Test para las diversas funciones**

- Aqui importamos las diversas librerias necesarias y el archivo.py donde tenemos todas las funciones

In [1]:
import pandas as pd

import sys
sys.path.append("../src")

from toolbox_ML import describe_df

- Aqui cargamos el dataset del Titanic:

In [3]:
df_titanic = pd.read_csv(
    "../data/titanic.csv",
    sep=",",
    skip_blank_lines=True,
    on_bad_lines="skip",
    encoding="utf-8"
)

- Aqui llamo a la funcion:

In [4]:
describe_df(df_titanic)

            DATA_TYPE  MISSINGS (%)  UNIQUE_VALUES  CARDIN (%)
fare          float64          0.00            248       27.83
age           float64         19.87             88        9.88
sibsp           int64          0.00              7        0.79
parch           int64          0.00              7        0.79
deck           object         77.22              7        0.79
embarked       object          0.22              3        0.34
pclass          int64          0.00              3        0.34
embark_town    object          0.22              3        0.34
class          object          0.00              3        0.34
who            object          0.00              3        0.34
sex            object          0.00              2        0.22
survived        int64          0.00              2        0.22
adult_male       bool          0.00              2        0.22
alive          object          0.00              2        0.22
alone            bool          0.00              2        0.22